.select-wrapper {
  display: flex;
  width: 90%;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 3px 0;
}

.NavBar {
  border-radius: 4px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  padding: 4px;
  margin: 20px 0;
  max-height: 91px;
}

.college-wrapper {
  width: 40%;
}

.year-wrapper {
  width: 40%;
}

.select-year-flex {
  display: flex;
}

.select-year {
  width: 50%;
}

.select-semester {
  width: 50%;
}

.search-button {
  width: 100px;
  height: 70%;
  margin-top: 1em;
}

.department-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-height: 100%;
}

.select-department {
  max-width: 45%;
  min-width: 20%;
}

/* .division-wrapper {
  margin: 20px 0;
} */

.type {
  max-width: 45%;
}

.subject-name {
  max-width: 15%;
}

.subject-name-input {
  width: 100%;
  height: 35px;
}
