.App {
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

.App .navbar-brand {
  font-weight: bold;
}

p {
  display: inline-block;
}

select {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 40px;
}
